<%- include('../partials/header');%>
<div>
    <h2>Forgot Password</h2>
    <form action="/forgot_password" method="POST" name="forgot-password">
        <div class="container">
            <!-- email -->
            <label for="email">Email</b></label>
            <input type="email" name="email" placeholder="Enter your email address" required>
            <!-- submit button -->
            <button type="submit">Reset my Password</button>
        </div>
    </form>
    <div class="container">
        <a href="/login"><button type="button" class="btnCancal">Cancel</button></a>
    </div>
</div>

<%- include('../partials/footer');%>