<%- include('../partials/header');%>
<div>
    <h2>Forgot Password</h2>
    <form action="/forgot-password" method="POST" name="forgot-password">
        <div class="container">
            <!-- email -->
            <label for="email">Email</b></label>
            <input type="email" name="email" placeholder="Enter your email address" required>
            <!-- submit button -->
            <a href="/signup"><button type="submit">Reset my Password</button></a>
        </div>
        <div class="container">
            <button type="button" class="btnCancal">Cancal</button>
        </div>
    </form>
</div>

<%- include('../partials/footer');%>