<%- include('../partials/header');%>
<div class="container-fluid bg ">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>

            <form action="/forgot-password" method="POST" name="forgot-password" class="form-container" id="ForgotPwd">
                <h2>Forgot Password</h2>

                <div class="form-group">
                    <!-- email -->
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email address" required>
                </div>
                <div class="form-group">
                    <!-- submit button -->
                    <a href="/signup"><button type="submit" class="btn btn-primary btn-lg btn-block">Reset my Password</button></a>
                </div>
                <div class="form-group">
                    <a href="/login"><button type="button" class="btn btn-danger">Cancel</button></a>
                </div>
                
            </form>
    </div>
</div>

<%- include('../partials/footer');%>