<%- include('../partials/header');%>
<h1>Welcome Home</h1>
<div class="container">
    <div class="home-link alert alert-dark" role="alert">
       <a href="/login">login</a>
    </div>
    <div class="home-link alert alert-dark" role="alert">
        <a href="/signup">signup</a>
    </div>
</div>
<%- include('../partials/footer');%>