<%- include('../partials/header');%>
<h1>Welcome Home</h1>
<center>
    <div class="container">
        <button type="button" class="btn btn-outline-secondary"><a href="/login">login</a></button>
        <button type="button" class="btn btn-outline-secondary"><a href="/signup">signup</a></button>
    </div>
</center>
<%- include('../partials/footer');%>
