<%- include('../partials/header');%>
<h1><%= title %></h1>
<div>
<form action="/login" method="POST">
    <p id="errorMSG"> </p>
    <div class="container">
    <label for="username">Username</b></label>
    <input type="text" name="username" id="username" placeholder="Enter your username" value="">
    <label for="password">Password</b></label>
    <input type="password" name="password" id="password" placeholder="Enter your password" value=""><br>
    <button type="submit" name="login">Login</button>
    <span class="psw"><a href="/forgot_password">Forgot Password</a></span>
    </div>
</form>
</div>
<p>Don't have an account? <a href="/signup">Sign Up</a><p>
<%- include('../partials/footer');%>