<%- include('../partials/header');%>
<h1><%= title %></h1>
<div>
<form action="/login" method="POST" name = "myForm" onsubmit = "return(validate());">
    <p id="errorMSG"> </p>
    <div class="container">
    <label for="username">Username</b></label>
    <input type="text" name="username" id="username" placeholder="Enter your username" value="">
    <label for="password">Password</b></label>
    <input type="password" name="password" id="password" placeholder="Enter your password" value=""><br>
    <button type="submit" name="login">Login</button>
    <span class="psw"><a href="/forgot_password">Forgot Password</a></span>
    </div>
</form>
<script type="text/javascript">
    function validate(){
        var MSG;
        if(document.myForm.username.value == ""){
            // alert("please provide your username!");
            MSG = ("please provide your username!");
            document.myForm.username.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
    }
    // function checkPassword(str){
    //     var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
    //     return re.test(str);
    // }
    // function checkForm(){
    //     if(myForm.password.value != "" ){
    //         if(!checkPassword(myForm.password.value)){
    //             alert("error  test!");
    //             myForm.password.focus();
    //             return  false
    //         }
    //     }else{
    //         alert("error test2");
    //         myForm.password.focus();
    //         return false;
    //     }
    //     return true;
    // }
    </script>
</div>
<p>Don't have an account? <a href="/signup">Sign Up</a><p>
<%- include('../partials/footer');%>