<%- include('../partials/header');%>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/dashboard" class="navbar-brand">Matcha</a>
    <a href="/logout" class="nav-link active">logout</a>
</nav>
<%- include('../partials/footer');%>