<%- include('../partials/header');%>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/dashboard" class="navbar-brand">Matcha</a>
    <a href="/logout" class="nav-link active">logout</a>
    <!-- <li class="nav-item"> -->
      <div class="dropdown">
        <a href="#" class="dropbtn">
          <!-- Dropdown<i class="fa fa-caret-down"></i> -->
          <!-- Notifications<i class="fa fa-bell" aria-hidden="true"></i> -->
          <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
  <!-- </li> -->
</nav>
<form id="myform" class="form-container" action="/set-profilePic" method="POST" enctype="multipart/form-data">
    <input type="file" name="myImage">
    <input type="submit" value="Upload">
</form>

<!-- <form action="/set-profilePic" method="post" enctype="multipart/form-data">
    <div class="file-upload">
      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
    
      <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
        <div class="drag-text">
          <h3>Drag and drop a file or select add Image</h3>
        </div>
      </div>
      <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            <button type="button" onclick="Upload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
        </div>
      </div>
    </div>
</form> -->

<script>
   /*  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        $('.image-upload-wrap').hide();
        $('.file-upload-image').attr('src', e.target.result);
        $('.file-upload-content').show();
        $('.image-title').html(input.files[0].name);
        };
        reader.readAsDataURL(input.files[0]);
    } else {
        removeUpload();
    }
    }
    function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
    }

    function Upload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
    }

    $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
    }); */
</script>
<%- include('../partials/footer');%>