
<%- include('../partials/header');%>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <form action="/reset-password" method="POST" name="reset-password" class="form-container" id="ResetPwd">
                <h2>Reset password</h2>

                <div class="form-group">
                        <!-- password -->
                    <label for="pwd">New Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                </div>

                <div class="form-group">
                    <!-- Confirm Password -->
                    <label for="confPass">Confirm Password</label>
                    <input type="password" name="confPass" class="form-control" placeholder="confirm password" value="">
                </div>

                <div class="form-group">
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">submit</button>
                </div>
            </form>
        </div>
    </div>
<%- include('../partials/footer');%>

        
                
        