
<%- include('../partials/header');%>
    <div>
        <h2>Reset password</h2>
        <form action="/reset-password" method="POST" name="reset-password">
            <div class="container">
                <!-- password -->
                <label for="pwd">New Password</b></label>
                <input type="password" name= "password" placeholder="Enter password" required>
                <!-- Confirm Password -->
                <label for="confPass">Confirm Password</label>
                <input type="password" name="confPass" placeholder="confirm password" value="">
                <!-- submit button -->
                <input type="hidden" name="token" value=<%=id%>>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
<%- include('../partials/footer');%>

        
                
        