<%- include('../partials/header');%>
<h1><%= title %></h1>
<div>
    <form action="/signup" method="POST" name = "myForm" onsubmit = "return(validate());">
        <p id="errorMSG"> </p>
        <div class="container">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" placeholder="Enter your First Name" value="">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" placeholder="Enter your Last Name" value="">
            <label for="usename">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter a username" value="">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address" >
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" value="">
            <label for="confPass">Confirm Password </label>
            <input type="password" name="confPass" id="confPass" placeholder="confirm your password" value="">
            <button type="submit" name="signup">Signup</button>
            <!-- <input type="submit" name="signup" value="signup"> -->
        </div>
    </form>
</div>
<script type="text/javascript">
    function checkPassword(str){
        var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
        return re.test(str);
    }
    function validate(){
        var MSG;
        if(document.myForm.firstName.value == ""){
            // alert("please provide your firstName!");
            MSG = ("please provide your firstName!");
            document.myForm.firstName.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.lastName.value == ""){
            // alert("please provide your lastName!");
            MSG = ("please provide your lastName!");
            document.myForm.lastName.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.username.value == ""){
            // alert("please provide your username!");
            MSG = ("please provide your username!");
            document.myForm.username.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.email.value == ""){
            // alert("please provide your username!");
            MSG = ("please provide your email!");
            document.myForm.email.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(myForm.password.value != "" ){
            if(!checkPassword(myForm.password.value)){
                // alert("Password must contain numbers, lowercase, uppercase letter and at least six characters");
                MSG =("Password must contain numbers, lowercase, uppercase letter and at least six characters");
                document.myForm.username.focus();
                document.getElementById("errorMSG").innerHTML = MSG;
                // myForm.password.focus();
                return false
            }
        }else{
            // alert("please provide your password!");
            MSG = ("please provide your password!");
            document.myForm.password.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            // myForm.password.focus();
            return false;
        }
    }
    </script>
    </script>
<p>Already have an account? <a href="/login">Log In</a></p>
<%- include('../partials/footer');%>