<%- include('../partials/header');%>
<h1><%= title %></h1>
<div class="container-fluid bg">
    <div class='row'>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <form action="/signup" method="POST"  onsubmit="return(validate());" class="form-container" id="Signup">
            <h2>Signup</h2>
            <p id="errorMSG"> </p>
            
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName"  class="form-control" placeholder="Enter your First Name" value="">
            </div>
            
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="LastName"  class="form-control" placeholder="Enter your last name"value="">
            </div>

            <div class="form-group">
                <label for="usename">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter a username" value="">
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" >
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class='form-group' placeholder="Enter your password" value="">
            </div>
            
            <div class="form-group">
                <label for="confPass">Confirm Password </label>
                <input type="password" name="confPass" id="confPass" class='form-group' placeholder="confirm your password" value="">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="signup">Signup</button>
            </div>
            
            <p>Already have an account? <a href="/login">Log In</a></p>   
        </form>
    </div>
</div>       
<script type="text/javascript">
    function checkPassword(str){
        var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
        return re.test(str);
    }
    function validate(){
        var MSG;
        if(document.myForm.firstName.value == ""){
            // alert("please provide your firstName!");
            MSG = ("please provide your firstName!");
            document.myForm.firstName.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.lastName.value == ""){
            // alert("please provide your lastName!");
            MSG = ("please provide your lastName!");
            document.myForm.lastName.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.username.value == ""){
            // alert("please provide your username!");
            MSG = ("please provide your username!");
            document.myForm.username.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(document.myForm.email.value == ""){
            // alert("please provide your username!");
            MSG = ("please provide your email!");
            document.myForm.email.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            return false;
        }
        if(myForm.password.value != "" ){
            if(!checkPassword(myForm.password.value)){
                // alert("Password must contain numbers, lowercase, uppercase letter and at least six characters");
                MSG =("Password must contain numbers, lowercase, uppercase letter and at least six characters");
                document.myForm.username.focus();
                document.getElementById("errorMSG").innerHTML = MSG;
                // myForm.password.focus();
                return false
            }
        }else{
            // alert("please provide your password!");
            MSG = ("please provide your password!");
            document.myForm.password.focus();
            document.getElementById("errorMSG").innerHTML = MSG;
            // myForm.password.focus();
            return false;
        }
    }
    </script>
<%- include('../partials/footer');%>