<%- include('../partials/header');%>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Matcha</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active">Suggestions</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
          <a href="/logout" class="nav-link">logout</a>
      </li>
    </ul>

    <form class="form-inline" action="index.html" method="post">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" >
          Filter:
        </button>

        <div class="dropdown-menu">
          <h5 class="dropdown-header">Age-range:</h5>
            <div class="form-check">
              <label class="form-check-label" for="age18-30">
                <input type="checkbox" class="form-check-input" id="age18-30" name="option1" value="something" checked>18-30 age
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="age31-40">
                <input type="checkbox" class="form-check-input" id="age31-40" name="option1" value="something">30-40 age
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="age41-60">
                <input type="checkbox" class="form-check-input" id="age41-60" name="option1" value="something">40-60 age
              </label>
            </div>

            <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Fame rate-range:</h5>
            <div class="form-check">
              <label class="form-check-label" for="fame1">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">1-4 Rating
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="fame2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">4-8 Rating
              </label>
            </div>
            <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">People in your Area</h5>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">Location
              </label>
            </div>
              <div class="dropdown-divider"></div>
                <h5 class="dropdown-header">Sort by</h5>
                <div class="form-check">
                  <label class="form-check-label" for="ageSort"></label>
                  <input type="checkbox" class="form-check-input">Age
                </div>

                <div class="form-check">
                  <label class="form-check-label" for="LocationSort"></label>
                  <input type="checkbox" class="form-check-input">Location
                </div>


                <div class="form-check">
                  <label class="form-check-label" for=""></label>
                  <input type="checkbox" class="form-check-input">Famerate
                </div>

                <h6 class="dropdown-header">Sort by Interests:</h6>
                <div class="form-check">
                  <label class="form-check-label" for=""></label>
                  <input type="checkbox" class="form-check-input">Sport
                </div>

                <div class="form-check">
                  <label class="form-check-label" for=""></label>
                  <input type="checkbox" class="form-check-input">Movies
                </div>

                <div class="form-check">
                  <label class="form-check-label" for=""></label>
                  <input type="checkbox" class="form-check-input">Games
                </div>
                  <div class="dropdown-divider"></div>
        </div>
      </div> &nbsp
    <input class="form-control mr-sm-2" type="search" placeholder="Search"
    aria-label="Search">
    <button class="btn btn-light my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>
<!-- <div class="container" style=" margin-top: 10px;">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="./img/images.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mpho Sugar</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bio:</h6>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age:</li>
          <li class="list-group-item">Gender:</li>
          <li class="list-group-item">Location: </li>
          <li class="list-group-item">Interests:</li>
        </ul>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="./img/images.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nakedi Mafa</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bio:</h6>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age:</li>
          <li class="list-group-item">Gender:</li>
          <li class="list-group-item">Location:</li>
          <li class="list-group-item">Interests:</li>
        </ul>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="./img/images.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thandi Moloi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bio:</h6>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age:</li>
          <li class="list-group-item">Gender:</li>
          <li class="list-group-item">Location:</li>
          <li class="list-group-item">Interests:</li>
        </ul>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="./img/images.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Musa Jele</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bio:</h6>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age:</li>
          <li class="list-group-item">Gender:</li>
          <li class="list-group-item">Location:</li>
          <li class="list-group-item">Interests:</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="title">
  <h2 class="card_h2" style="color: white;">Matcha</h2>
</div>

<div class="cube pers250">
  <div class="card first">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card second">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card third">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card forth">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p style="font-size: 0.4rem;" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="action">
  <button class="reject" style="color: red;"><i class="fas fa-times"></i></i></button>
  <button class="accept" style="color: red;"><i class="fas fa-heart"></i></button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
 $(function(){
   function accept(){
     $('.card').first().addClass('accept');
     $('body').addClass('accept');
     var lastCard = $('</div />', {
       "class": 'card last-card'})
       setTimeout(function(){
         $('body').removeClass('accept');
         $('.card').first().remove();
         $('.card').each(function(){
           var newZ = parseInt($(this).css('transform').split(',')[14]) + 10;
           var newZIndex = parseInt($(this).css('z-index')) + 1;
           $(this).css({
             'transform': 'translate3d(-50%, +50%, ' + newZ + 'px)',
             'z-index': newZIndex
           });
         });
         $('.cude').append(lastCard);
       }, 300);
   }

   function reject(){
    $('.card').first().addClass('reject');
     $('body').addClass('reject');
     var lastCard = $('</div />', {
       "class": 'card last-card'})
       setTimeout(function(){
         $('body').removeClass('reject');
         $('.card').first().remove();
         $('.card').each(function(){
           var newZ = parseInt($(this).css('transform').split(',')[14]) + 10;
           var newZIndex = parseInt($(this).css('z-index')) + 1;
           $(this).css({
             'transform': 'translate3d(-50%, +50%, ' + newZ + 'px)',
             'z-index': newZIndex
           });
         });
         $('.cude').append(lastCard);
       }, 300);
      }

      $('.accept').click(function(){
        accept();
      });
      $('.reject').click(function(){
        reject();
      });

      var mouseInitXposition;
      var track = false;
      $('body').mousedown(function(e){
        if ($(e.target).hasClass('card')){
          track = true;
          mouseInitXposition = e.clientX;
        }else{
          track = false;
        }
      });
      function pixelToDegree(x, width, dir){
        var factor = 22.5/(width/2);
        var distance;
        if(dir > 0){
          distance = x
        }else{
          distance = (width - x);
        }
        return distance * factor;
      }
      $('body').mousemove(function(e){
        if(track){
          if (e.pageX > mouseInitXposition){
            $('.card').first().css({
              'transform': 'translateY(-40%) translateZ(40px) rotateZ(' +
              pixelToDegree(e.pageX, $('body').width(), 1) +'deg)'
            });
          }else{
            $('.card').first().css({
              'transform':'translateX(-100%) translateY(-40%) translateZ(40px rotateZ(-'
              + pixelToDegree(e.pageX, $('body').width(), -1)+ ' deg))'
            });
          }
        }
      });
      $('body').mouseup(function(e){
        if(track){
          if (e.pageX > mouseInitXposition){
            accept();
          }else if (e.pageX < mouseInitXposition){
            reject();
          }
        }
        track = false;
      });
 });
</script>
<%- include('../partials/header');%>