<%- include('../partials/header');%>
    <h1>User profile</h1>
    <div>
        <form method="POST">
            <div class="wrapper">
                <div class="left">
                    <div class="image-preview" id="image-preview">
                    </div>
                    <img src="image2.jpeg" alt="user" width="100">
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Your Profile</h3>
                        <div class="info_data"></div>
                        <div class="data">
                            <h5>Name <input class="profileName" type="text" name="profileName" 
                                id="profileName" placeholder="Enter your Name" value=""></h5>
                            <p><h5> Your age <input type="number" name="quantity" min="18" max="50"></h5></p>

                            <h5>What is your gender?</h5>
                            <input type="radio" name="gender" value="Male"> Male
                            <input type="radio" name="gender" value="Female"> Female
                        </br>
                        <h5>Your sexual orientation</h5>
                        <input type="radio" name="sexual" value="Guys"> Guys
                        <input type="radio" name="sexual" value="Girls"> Girls
                        <input type="radio" name="sexual" value="Both"> Both</p>
                </div>
                <div class="data">
                    <h5>About you</h5>
                    <textarea name="Bio" cols="35" rows="5">Write a bit about yourself...</textarea>
                </br>
                <div class="data">
                    <h5>My Location</h5>
                </div>  
            </div>
            <div class="projects">
                <!-- <h3>projects</h3> -->
                <h3>Interests</h3>
                <input type="button" value="Add interests" onclick="window.location.href='/interests'">
            </br>
                <div class="projects_data"></div>
                <div class="data">
                    <h3>Profile gallery</h3>
                </br>
                    <p><input type="submit" value="Submit"></p>
                </div>
               
            </div>
        </div>
            </div>
            
        </form> 
    </div>
    <%- include('../partials/footer');%>