<%- include('../partials/header');%>
<div class="container-fluid bg">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/dashboard" class="navbar-brand">Matcha</a>
        <a href="/logout" class="nav-link active">logout</a>
    </nav>
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <!-- <div class="col-md-4 col-sm-4 col-xs-12"> -->
            
            <form id='user-profile' method="POST" action="/see#" class="form-container">
                <h1>Your Profile</h1>
                
                <!-- user name -->
                <div class="form-group">
                    <!-- <label>Name</label> -->
                    <input type="text" class="form-control" placeholder="Enter your name" value="<%=(typeof data.firstName != "undefined" ? data.firstName : "")%>">
                </div>
                
                <!-- select your age -->
                <div class="form-group">
                    <label for="selectYourAge">Your age (between 18 and 50):</label>
                    <input type="number" name="quantity" min="18" max="50" placeholder="18">
                </div>
                
                <!-- Select your gender -->
                <label>What is your gender?</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"> 
                    <label class="custom-control-label" for= "customRadio1">Male</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"> 
                    <label class="custom-control-label" for="customRadio2">Female</label>
                </div>
                
                <!-- sexual orientation -->
                <div>
                    <div>
                        <label for="NameOfUser">Your sexual orientation</label>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Guys</button>
                        <button type="button" class="btn btn-info">Girls</button>
                        <button type="button" class="btn btn-info">Both</button>
                    </div>
                </div>
                
                <!-- Profile location -->
                <div>
                    <label for="NameOfUser">My Location</label>
                    <select class="custom-select" size="3">
                        <option style="color:black;" value="1">Cape Town</option>
                        <option style="color:black;" value="2">Johannesburg</option>
                        <option style="color:black;" value="3">Durban</option>
                        <option style="color:black;" value="4">Pretoria</option>
                        <option style="color:black;" value="5">Port Elizabeth</option>
                        <option style="color:black;" value="6">Bloemfontein</option>
                        <option style="color:black;" value="7">East London</option>
                        <option style="color:black;" value="8">Soweto</option>
                        <option style="color:black;" value="9">Polokwane</option>
                        <option style="color:black;" value="10">Nelspruit</option>
                        
                    </select>
                </div>
                
                <!-- interests tags -->
                <div class="form-group">
                    <label>Add interests to your profile</label>
                    <button type="button" class="btn btn-info">Add interests</button>
                </div>
                
                <!-- Textarea  -->
                <div class="form-group">
                    <label for="Textarea">About you</label>
                    <textarea class="form-control" id="Textarea" row="3"></textarea>
                </div> 
                
                <!-- submit button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<%- include('../partials/footer');%>