<%- include('../partials/header');%>
<div class="container-fluid bg">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Matcha</a>
        <a href="#" class="nav-link active">Home page</a>
    </nav>
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
            
            <form id='user-profile' method="POST" action="/see#" class="form-container">
                <h1>Your Profile</h1>
                
                <!-- user name -->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your name" value="<%=(typeof data.firstName != "undefined" ? data.firstName : "")%>">
                </div>
                
                <!-- select your age -->
                <div class="form-group">
                    <label for="selectYourAge">Your age (between 18 and 50):</label>
                    <input type="number" name="quantity" min="18" max="50" placeholder="18">
                </div>
                
                <!-- Select your gender -->
                <label>What is your gender?</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"> 
                    <label class="custom-control-label" for= "customRadio1">Male</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"> 
                    <label class="custom-control-label" for="customRadio2">Female</label>
                </div>
                
                <!-- sexual orientation -->
                <div>
                    <label class="mdb-main-label primary">Sexual orientation</label>
                    <div>
                        <select class="mdb-select md-form colorful-select dropdown-primary">
                            <option value="1">Girls</option>
                            <option value="2">Boys</option>
                            <option value="3">Both</option>
                        </select>
                    </div>
                </div>
                <!-- Profile location -->
                <div>
                    <p class="h4 text-center" name="myLocation">My Location</p>
                    <label for="NameOfUser">City</label>
                    <input type="text" class="form-control" name="myCity">
                    <label for="NameOfUser">Suburb</label>
                    <input type="text" class="form-control" name="mySuburb">
                </div>
                
                <!-- interests tags -->
                <div class="form-group">
                    <p>Add interests to your profile</p>
                    <button type="button" class="btn btn-info">Add interests</button>
                </div>
                
                <!-- Textarea  -->
                <div class="form-group">
                    <label for="Textarea">About you</label>
                    <textarea class="form-control" id="Textarea" row="3"></textarea>
                </div> 
                
                <!-- submit button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<%- include('../partials/footer');%>